body {
  min-height: 100vh;
}

div.navbar-brand {
  border: hsl(141, 53%, 53%) 1px solid;
  border-radius: 5px;
  margin: 5px 0px;
}

h1 {
  font-family: 'Frijole', cursive;
  text-align: center;
  font-size: 8px;
}

.question {
  margin-bottom: 20px;
  border: black 1px solid;
  border-radius: 5px;
  padding: 10px;
  
  h2{
    font-weight:bold;
  }
}

div.field-result {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons{
  max-width: 50%;
  
}
label {
  .radio {
    display: block;
  }

  p {
    display: inline;
  }
}

.result{
  margin: 5px;
  font-size: 50px;
}

ul {
  border-bottom: black 1px solid;
}

ul h6 {
  font-weight:bold;
}
@import '~bulma/bulma.sass';